@model OrderServiceChallenge.Models.ViewModels.OrderServiceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Create</h2>

<h4>OrderService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="OrderService.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderService.NumberOS" class="control-label"></label>
                <input asp-for="OrderService.NumberOS" class="form-control" />
                <span asp-validation-for="OrderService.NumberOS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderService.ServiceTitle" class="control-label"></label>
                <input asp-for="OrderService.ServiceTitle" class="form-control" />
                <span asp-validation-for="OrderService.ServiceTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderService.Value" class="control-label"></label>
                <input asp-for="OrderService.Value" class="form-control" />
                <span asp-validation-for="OrderService.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderService.ExecutionDate" class="control-label"></label>
                <input asp-for="OrderService.ExecutionDate" class="form-control" />
                <span asp-validation-for="OrderService.ExecutionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderService.EmployeeId" class="control-label"></label>
                <select asp-for="OrderService.EmployeeId" asp-items="@(new SelectList(Model.Employees,"Id",
"Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="OrderService.CompanyId" class="control-label"></label>
                <select asp-for="OrderService.CompanyId" asp-items="@(new SelectList(Model.Companies,"Id",
"Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}